attrs==25.3.0
cattrs==25.2.0
importlib_resources==6.5.2
jsii==1.114.1
publication==0.0.3
python-dateutil==2.9.0.post0
six==1.17.0
typeguard==2.13.3
typing_extensions==4.15.0
rich==14.1.0
langchain==0.3.27
langchain-text-splitters==0.3.11
torch==2.8.0
sentence-transformers==5.1.0
langchain-huggingface==0.3.1
jsonlines==4.0.0
langchain-community==0.3.29
langchain-core==0.3.76
langchain-experimental==0.3.4
langchain-huggingface==0.3.1
dotenv==0.9.9
python-dotenv==1.1.1
transformers==4.56.1
openai==1.109.1
